// MAPS
$coloresBasement:(yellowB:#F8FF00,
    greenB: #489E4B);

$yBase: map-get($coloresBasement, yellowB);
$gBase: map-get($coloresBasement, greenB);


.contact-container {
    min-height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 200px 40px repeat(4, 200px);
}

.contactsec {
    grid-column: 1 / 4;
    grid-row: 3 / 6;
    background-color: $gBase;
    border: 2px $yBase solid;
    margin: 100px 50px 150px 50px;
    h1 {
        text-align: center;
    }
}

.contactform {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

@media screen and (min-width: 1024px){
    .contact-container {
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: 130px 40px repeat(4, 200px);
    }


    .contactsec {
        grid-column: 2 / 6;
        grid-row: 3 / 8;
        .contactform input:focus {
            background-color: black;
            color: #F8FF00;
        }
        .contactform textarea:focus {
            background-color: black;
            color: #F8FF00;
        }
    }

}